.directory
.idea
lip_reading/.ipynb_checkpoints
lip_reading/.vscode
lip_reading/.idea
lip_reading/.directory
lip_reading/__pycache__

# directories
lip_reading/data
lip_reading/temp

# files
lip_reading/iter_tests.ipynb
lip_reading/master_notebook.ipynb
